# ~/.local/share/chezmoi/packages.yaml.tmpl

# Packages that must be installed on ALL systems
packages:
  - git
  - curl
  - htop
  - neovim
  - rofi
  - hyprland
  - kitty
  - libfido2
  - hyprlock
  - waybar
  - steam
  - discord

