* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.workspace-entry{
    padding: 5px;
    &.occupied {
        background: lightblue;
    }
    &.current{
    		background: grey;
	}
}

