@import  "gruvbox.scss";
* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.workspace-entry{
    padding: 5px;
    &.occupied {
        background: $lightgray;
    }
    &.current{
    		background: $gray;
	}
}

.right_modules{
  background: blueviolet;
}
