[Unit]
Description=Nextcloud Desktop Client
After=graphical-session.target
After=gnome-keyring.service # Ensure keyring is available
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nextcloud --background
Type=simple
Restart=on-failure # Optional: Restart if it crashes

[Install]
WantedBy=graphical-session.target
